.education {
  .set {
    .course {
      border-radius: 10px;
      margin: 20px auto;
      background-color: white;
      width: 95%;
      box-shadow: 0px 0px 10px rgb(204, 204, 204);
      .courseImg {
        height: 35vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        transition-duration: 0.5s;
        &:hover {
          height: 60vh;
          background-position: center;
          background-size: contain;
        }
      }
      .courseDesc {
        padding: 5%;
        h3 {
          margin-bottom: 10px;
          color: rgb(0, 183, 255);
        }
        hr {
          background-color: rgb(255, 75, 105);
          height: 2px;
          width: 50%;
          border: none;
        }
      }
    }
  }
}
