:root {
  --cursor-1-bg: #ffffff;
  --cursor-2-bg: #151a1f;
  --cursor-3-bg: #f1f68f;
  --cursor-4-bg: #b0efda;
  --cursor-5-bg: #d5c9fb;
  --cursor-6-bg: #ffbc90;

  --cursor-1-bg-line: #eef1f4;
  --cursor-2-bg-line: #1f272e;
  --cursor-3-bg-line: #f1f68f;
  --cursor-4-bg-line: #b0efda;
  --cursor-5-bg-line: #d5c9fb;
  --cursor-6-bg-line: #ffbc90;

  --curzr-logo-color: #292927;
}

.container-cursor-1 {
  z-index: 6;
  background-color: var(--cursor-1-bg);
  background-image: linear-gradient(
      var(--cursor-1-bg-line) 1px,
      transparent 1px
    ),
    linear-gradient(
      to right,
      var(--cursor-1-bg-line) 1px,
      var(--cursor-1-bg) 1px
    );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
